[Unit]
Description=Sensor
After=network.target auditd.service

[Service]
ExecStartPre=/bin/rm -rf /var/run/dht.lock 
ExecStart=/home/vjeko/dev/Time-Series/scripts/influx.py vandalia root root env /home/vjeko/dev/Time-Series/lol_dht22/loldht
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=sshd.service
